body {
    background-color: #6993AA;
}

h1 {
    color: #FCBF49;
    text-align: center;
}

p {
    font-family: Droid Sans;
    font-size: 30px;
    text-align: center;
    color: #F5F1DE;
}
