body {
    background-color: #6993AA;
}

h1 {
    color: #FCBF49;
    text-align: center;
    text-shadow: 2px 2px #ff0000;
    font-style: oblique
}

p {
    font-family: "Nunito";
    font-size: 30px;
    text-align: center;
    color: #F5F1DE;
}
